* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E76F51;
}

header {
    width: 100%;
    background-color: #264653;
}
header img {
    image-resolution: 200px 200px;
    width: 200px;
}

nav {
    margin: 0 auto;
    width: 960px;
    display: flex;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li a {
    padding: 1rem;
    display: flex;
}
nav a {
    color: rgb(209, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    }
main {
    background-color: #2A9D8F;
    margin: 30px auto;
    width: 960px;
    border-radius: 20px;
}
main h1 {
    background-color: #264653;
    border-radius: 20px 20px 0 0;
    font-family: 'Righteous', cursive;
    font-size: 64px;
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

section:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin:25px 10px 25px 10px;
}
div {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
}

div>h3 {
    font-size: 32px;
    font-weight: 700;
}


article section:nth-child(2) {
width: 960px;
margin-bottom: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding:10px;
}
article section:nth-child(2)>img:nth-child(5) {
    margin-top: 45px;
}
article section:nth-child(2)>img {
    border-radius: 30px;
    margin:0 auto;
}

article section:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:25px 10px 25px 10px;
}
article section:nth-child(3)>h3 {
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    padding: 10px;
}

article section:nth-child(3)>ul {
    background-color: black;
}



/* p {
    padding-left: 10px;
} */













footer {
    background-color: #264653;
    width: 100%;
    padding: 25px;
}
footer h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Righteous', cursive;;
    font-size: 32px;
    margin-bottom: 20px;
}
footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer section a {
    margin: 0px 10px 0px 10px;
}